body, html {
  margin: 0px;
  height: 100%;
  overflow-y: hidden;
  width: 400%;
}
body {
  position: absolute;
  background: #212124;
  background-image: url(../img/office.png);
  overflow: visible;
  color: #6dadff;
  font-family: Raleway, Helvetica Neue, Helvetica, Aria, Sans-serif;
}
.page {
  top: 0px;
  position: relative;
  height: 100%;
  width: 25%;
  display: inline-block;
  margin: 0;
}
body div:nth-child(n+3) {
  left: 100%;
}
.title-bar {
  z-index: 10;
  position: fixed;
  background: #111;
  top: 50%;
  margin-top: -120px;
  left: 0px;
  right: 50px;
  height: 80px;
  box-shadow: inset 0px 4px 4px -2px black, inset 0px -2px 4px -2px #444;
}
.title-bar:after {
  height: 0px;
  width: 0px;
  position: absolute;
  border: solid transparent;
  border-width: 40px;
  border-left-color: #111;
  border-left-width: 40px;
  content: ' ';
  top: 0px;
  right: -80px;
}
.title-bar:before {
  height: 57px;
  width: 56px;
  position: absolute;
  top: 12px;
  right: -28px;
  content: ' ';
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: transparent;
  z-index: 2;
  box-shadow: inset 0px 4px 4px -3px black, inset -2px 0px 4px -2px #444;;
}
.slash {
  letter-spacing: -0.3em;
}
h1 {
  position: relative;
  color: #404aff;
  font-size: 60px;
  text-align: right;
  margin: 0 10% 0 0;
  font-weight: 300;
  text-shadow: -2px -2px #050505, 1px 1px #444;
  line-height: 80px;
}
.page .container {
  position: absolute;
  top: 50%;
  padding: 0 100px;
}
.container p {
  font-family: 'Raleway', sans-serif;
}
.page div {
  position: absolute;
  padding: 120px 150px 0px 150px;
}
ul {
  font-size: 30px;
  font-weight: 200;
}
h2 {
  font-weight: 400;
  font-style: italic;
  font-family: 'Prata', serif;
  font-size: 60px;
  margin: 0px;
  text-shadow: -2px -2px #111, 1px 1px #444;
}
p {
  font-size: 35px;
  font-weight: 200;
}
.title-bar ul {
  z-index: 11;
  list-style: none;
  position: absolute;
  left: 40px;
  bottom: 10px;
  float: left;
  margin: 0px;
  text-shadow: -1px -1px #111111;
  padding: 0px;
  text-indent: 0px;
}
.title-bar ul li {
  float: left;
  font-size: 27px;
  color: #555;
  padding-left: 25px;
}
.title-bar a.active li { 
  color: #2dadff;
}
.title-bar a {
  font-weight: 400;
  color: #555;
}
.title-bar a:hover {
  font-style: normal;
}
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
a {
  font-weight: 600;
  text-decoration: none;
  color: #2dadff;
}
a:hover {
  font-style: italic;
}
